[data-theme="light"],
:root:not([data-theme="dark"]) {
  --pico-color: #0783d8;
  --primary: #33c1ee;
  --secondary: #0e4d90;
  --pico-primary: #33c1ee;
  --pico-secondary: #0e4d90;
  --pico-contrast: #47d469;
  --pico-code-color: #646b79;
  --pico-form-element-invalid-active-border-color: #f85149;
  --pico-form-element-invalid-border-color: #b86a6b;
  --pico-form-element-valid-active-border-color: #279977;
  --pico-form-element-valid-border-color: #47d469;
}

:root {
  --form-element-spacing-vertical: 0.25rem;
  --form-element-spacing-horizontal: 0.25rem;
}

body {
  padding: 0.8rem;
}
span {
  display: inline-block;
  margin-right: 0.5rem;
}

.grid.two {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}
.grid.three {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.grid.one-two {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 1rem;
}

.grid.one-three {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.right-align {
  text-align: right;
}
.left-align {
  text-align: left;
}
